{% extends 'Appblog/principal.html' %}

{% block head %}
    <title>Resultados búsqueda</title>
{% endblock head %}

{% block body %}
    <h1>Has buscado las reseñas de: {{busqueda}}</h1>

{% endblock body %}

{% block blogg %}

{% if resultados %}

{% for lib in resultados %}

    <p>Reseña hecha por :{{lib.autor}}</p>
    <p>Del Libro: {{lib.titulo}}, del autor {{lib.autorLib}} del año {{lib.año}}</p>
    <p>Calificación: {{lib.puntaje}}</p>
    <p>Reseña: {{lib.reseña}}</p>

    <p>********************************************************</p>

{% endfor %}

{% else %}

<p>No hay reseñas de esa película.</p>

{% endif %}


{% endblock %}